spring:
  application:
    name: norush2025

  profiles:
    include: oauth

  springdoc:
    swagger-ui:
      groups-order: desc
      tags-sorter: alpha
      operations-sorter: method
      disable-swagger-default-url: true
      display-request-duration: true
      default-models-expand-depth: 2
      default-model-expand-depth: 2
      display-operation-id: false
      show-extensions: false
    show-actuator: true
    default-consumes-media-type: application/json
    default-produces-media-type: application/json
    writer-with-default-pretty-printer: true
    model-and-view-allowed: true
    override-with-generic-response: true

management:
  endpoints:
    web:
      exposure:
        include: health

tmap:
  api:
    key: ${TMAP_API}

odsay:
  api:
    key: ${ODSAY_API}