spring:
  application:
    name: norush2025

  profiles:
    include: oauth

  security:
    oauth2:
      client:
        registration:
          # --- 1. Google 설정 ---
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
            redirect-uri: "{baseUrl}/login/oauth2/code/google"

          # --- 2. Kakao 설정 ---
          kakao:
            # Client ID로 KAKAO_REST_API_KEY 사용
            client-id: ${KAKAO_REST_API_KEY}
            client-secret: ${KAKAO_CLIENT_SECRET} # 카카오 Client Secret (환경 변수 필요)
            authorization-grant-type: authorization_code
            client-authentication-method: POST
            redirect-uri: "{baseUrl}/login/oauth2/code/kakao"
            scope:
              - profile_nickname
              - account_email
            client-name: Kakao

          # --- 3. Naver 설정 ---
          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/naver"
            client-name: Naver
            scope:
              - name
              - email

        provider:
          # --- Kakao Provider 세부 정보 정의 ---
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

          # --- Naver Provider 세부 정보 정의 ---
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
  springdoc:
    swagger-ui:
      groups-order: desc
      tags-sorter: alpha
      operations-sorter: method
      disable-swagger-default-url: true
      display-request-duration: true
      default-models-expand-depth: 2
      default-model-expand-depth: 2
      display-operation-id: false
      show-extensions: false
    show-actuator: true
    default-consumes-media-type: application/json
    default-produces-media-type: application/json
    writer-with-default-pretty-printer: true
    model-and-view-allowed: true
    override-with-generic-response: true
management:
  endpoints:
    web:
      exposure:
        include: health
